@model IEnumerable<Atlas.Models.AltasModel.Meeting>

@{
    ViewBag.Title = "Meetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Meetings</h2>

<p>
    @Html.ActionLink("Upload Excel", "UploadExcel")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProposalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MeetingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.MeetingId }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.MeetingId }) |
            @*@Html.ActionLink("Delete", "Delete", new { id=item.MeetingId })*@
        </td>
    </tr>
}

</table>
