@model IEnumerable<Atlas.Models.AltasModel.Meeting>

@{
    ViewBag.Title = "ReviewMeetings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ReviewMeetings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProposalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeetingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProposalName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td><p>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        View Attendees
    </button>
</p>
            </td>
        </tr>
        <tr>
            <td colspan="9">
                @*@Html.DisplayFor(modelItem => item.ReqResources.Location)*@
                @*<p>Attendees</p>*@
                
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <table style="padding:2vh;width: 100%;">
            <tr>
                <td>Name</td>
                <td>Meeting Name</td>
                <td>Attendee</td>
                <td>Attendee</td>
            </tr>
            @foreach (var i in item.Attendees)
            {
                        <tr>
                            <td>i.Meeting.Name</td>
                            <td>i.ResourceType.Name</td>
                            <td>i.Meeting.Name</td>
                            <td>
                                @Html.ActionLink("Approve", "Edit", new { id = item.MeetingId }, new { @class = "btn btn-success" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MeetingId }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Deny", "Delete", new { id = item.MeetingId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
            }
                        <tr>
                            <td>i.Meeting.Name</td>
                            <td>i.ResourceType.Name</td>
                            <td>i.Meeting.Name</td>
                            <td>
                                @Html.ActionLink("Approve", "Edit", new { id = item.MeetingId }, new { @class = "btn btn-success" }) |
                                @Html.ActionLink("Details", "Details", new { id = item.MeetingId }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Deny", "Delete", new { id = item.MeetingId }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
            <tr>
                <td>i.Meeting.Name</td>
                <td>i.ResourceType.Name</td>
                <td>i.Meeting.Name</td>
                <td>
                    @Html.ActionLink("Approve", "Edit", new { id = item.MeetingId }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MeetingId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Deny", "Delete", new { id = item.MeetingId }, new { @class = "btn btn-danger" })
                </td>
            </tr>
            <tr>
                <td>i.Meeting.Name</td>
                <td>i.ResourceType.Name</td>
                <td>i.Meeting.Name</td>
                <td>
                    @Html.ActionLink("Approve", "Edit", new { id = item.MeetingId }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MeetingId }, new { @class = "btn btn-primary" }) |
                    @Html.ActionLink("Deny", "Delete", new { id = item.MeetingId }, new { @class = "btn btn-danger" })
                </td>
            </tr>

        </table>
                    </div>
                </div>
                @*<table style="padding:2vh">
            <tr>
                <td>Name</td>
                <td>Meeting Name</td>
                <td>Attendee</td>
                <td>Attendee</td>
            </tr>
            @foreach (var i in item.Attendees)
            {
                <tr>
                    <td>i.Meeting.Name</td>
                    <td>i.ResourceType.Name</td>
                    <td>i.Meeting.Name</td>
                    <td>i.ResourceType.Name</td>
                </tr>
            }
            <tr>
                <td>i.Meeting.Name</td>
                <td>i.ResourceType.Name</td>
                <td>i.Meeting.Name</td>
                <td>i.ResourceType.Name</td>
            </tr>
            <tr>
                <td>i.Meeting.Name</td>
                <td>i.ResourceType.Name</td>
                <td>i.Meeting.Name</td>
                <td>i.ResourceType.Name</td>
            </tr>
            <tr>
                <td>i.Meeting.Name</td>
                <td>i.ResourceType.Name</td>
                <td>i.Meeting.Name</td>
                <td>i.ResourceType.Name</td>
            </tr>

        </table>*@
            </td>
            <td>
            </td>
        </tr>
    }

</table>
